<!DOCTYPE html>
<html lang="en">
<head>
    <title>SNMART Scheduler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<h2 style="color:purple;margin-bottom:0">SMARTScheduler</h2>
<h3>The final project for Software Design Fall 2016
  <p style="margin-top:0">Created by Prabha Dublish, Alex Grant, Christina Holman, and Jon Kohlmeier</p></h3>

<p>Use this tool to understand the requirements you have fulfilled thus far,
  what classes you need to take, and sample schedules as well! Currently this tool
  is meant for students studying at Babson College!</p>

  <p> Thanks for choosing to determine a schdule. Here is a sample schedule for you:</p>
  <table>
    <tr>
      <th> Course </th>
      <th> Title </th>
      <th> Day </th>
      <th> Time </th>
      <th> Prof </th>
      <th> Stress Factor </th>
    </tr>
  <!-- <ul> -->
  {% for found in sets%}
      <tr>
          <td class="ui-helper-center"> {{found.num}}-{{found.sect}} </td>
          <td class="ui-helper-center"> {{found.title}} </td>
          <td class="ui-helper-center"> {{found.day}} </td>
          <td class="ui-helper-center"> {{found.startTime}}-{{found.endTime}} </td>
          <td class="ui-helper-center"> {{found.prof}} </td>
          <td class="ui-helper-center"> {{found.stress}} </td>
      </tr>
  {% endfor %}
  </table>

<p> To see more sample schedules, refresh page. </p>

<a href="{{ url_for('index') }}">
<button class="button">
  RUN AGAIN
</button>
</a>

  <p>{{response}}</p>
