<!DOCTYPE html>
<html lang="en">
<head>
<style>
li {
  white-space: normal;;
}

</style>
</head>
<body>

<hl style="color:blue;font-size:200%;">SMARTScheduler</hl>

<h2>The final project for Software Design Fall 2016 created by Prabha Dublish
  , Alex Grant, Jon Kohlmeier, and Christina Holman</h2>

  <p>Use this tool to understand the requirements you have fulfilled thus far,
    what classes you need to take, and sample schedules as well! Currently this tool
    is meant for students studying at Babson College!</p>

    <p> Thanks for choosing to determine a schdule. Here are sample schedules for you:</p>

    <ul>
    {% for found in sets%}
        <li>
            {% for code in found %}
            {{code}}
            {% endfor %}
        </li>
    {% endfor %}
  </ul>


    <!---<ul>
      {% for found in sets%}
        {% for ids in found%}
          <li>
            {% for made in ids %}
              {% for code in made %}
              {{code}}
              {% endfor %}
            {% endfor %}
          </li>
        {% endfor %}
      {% endfor %}
    </ul> -->


    <p>{{response}}</p>
