<!DOCTYPE html>
<html lang="en">
<head>
    <title>SMART Scheduler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
<body>

<h2 style="color:purple;margin-bottom:0">SMARTScheduler</h2> <!---style="color:blue;font-size:200%;" -->

<h3>The final project for Software Design Fall 2016
  <p style="margin-top:0">Created by Prabha Dublish, Alex Grant, Christina Holman, and Jon Kohlmeier</p></h3>

  <p>Use this tool to understand the requirements you have fulfilled thus far,
    what classes you need to take, and sample schedules as well! Currently this tool
    is meant for students studying at Babson College!</p>
<div class="container">
<form action="audit_results" method="POST">
  Course Codes:<br>
  <input type="text" size="35" name="response" placeholder="Input text like FME1000 RHT1000"><br/>
  <!-- <input type="submit" value="Submit"> -->
</div>
<!-- </form>

<form action="audit_results" method="POST"> -->
<div class="container" style="margin-top:20px">
  Filters:<br>
  <input type="radio" name="cat" value="num"> Course Code<br>
  <input type="radio" name="cat" value="title"> Title <br>
  <input type="radio" name="cat" value="day"> Day<br>
  <input type="radio" name="cat" value="startTime"> Start Time<br>
  <input type="radio" name="cat" value="endTime"> End Time<br>
  <input type="radio" name="cat" value="prof"> Professor<br/>
  <input type="text" name="label" size="35" placeholder="Label (MW, 9:00AM, ACC1000)" style="margin-top:10px"><br>
  <input type="submit" value="Submit" class=button style="margin-top:20px">
</form>
</div>
</body>
</html>
