<!DOCTYPE html>
<html lang="en">
<body>

<hl style="color:blue;font-size:200%;">SMARTScheduler</hl>

<h2>The final project for Software Design Fall 2016 created by Prabha Dublish
  , Alex Grant, Jon Kohlmeier, and Christina Holman</h2>

  <p>Use this tool to understand the requirements you have fulfilled thus far,
    what classes you need to take, and sample schedules as well! Currently this tool
    is meant for students studying at Babson College!</p>

<form action="audit_results" method="POST">
  Course Codes:<br>
  <input type="text" name="response" placeholder="Input text like FME1000 RHT1000"><br/>
  <!-- <input type="submit" value="Submit"> -->

<!-- </form>

<form action="audit_results" method="POST"> -->
  Filters:<br>
  <input type="radio" name="cat" value="num"> Course Code<br>
  <input type="radio" name="cat" value="title"> Title <br>
  <input type="radio" name="cat" value="day"> Day<br>
  <input type="radio" name="cat" value="startTime"> Start Time<br>
  <input type="radio" name="cat" value="endTime"> End Time<br>
  <input type="radio" name="cat" value="prof"> Professor<br/>
  <input type="text" name="label" placeholder="Label (MW, 9:00AM, ACC1000)"><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
